<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/styles/normal.css">

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">



<title> Unified Digital Media | Building Blocks of Innovation </title>


</head>

<body>

	<header class="container-fluid">

<a href='/resume/Machel Slack Web CV.pdf'> <img src="/images/logo.png" alt="Unified Digital Media Logo" class="company_logo">

<p class="resume_link"> CLICK HERE FOR RESUME </p> </a> 
	</header>

	<section>

<div class="slideshow-container">

  <div class="mySlides slide_fade">
    
    <div class="numbertext">1 / 3</div>
    


    <img src="/images/blue_yellow_red_smoke_bg.jpg"  alt="Blue and yellow smoke back ground" class="slider_image_1" />
    <div > <p class="text"> Responsive web design </p> </div>
     
      <div > <p class="text_subtitle"> Expand your reach across multiple devices <p> </div>
  
   

  </div>

   <div class="mySlides slide_fade">
    
    <div class="numbertext">2 / 3</div>
    
    <img src="/images/grey_blue_yellow_red_smoke_219_2560x1600.jpg"  alt="Blue and yellow smoke back ground with black and white filter" class="slider_image_1" />
    
    <div > <p class="text">Cross platform integration </p> </div>
<div > <p class="text_subtitle"> Streamline business processes throughout the workplace - improving productivity and efficiency.</p></div>
  

  </div>

   <div class="mySlides slide_fade">
    
    <div class="numbertext">3 / 3</div>
    
    <img src="/images/blue_yellow_red_smoke_bg.jpg"  alt="Blue and yellow smoke back ground" class="slider_image_1" />
    
    <div > <p class="text"> Increased conversion </p></div>
<div ><p class="text_subtitle"> IOS and Android APP development offers your users convenience - placing them a few clicks away from your offering</p> </div>
  

  </div>



  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  
  <a class="next" onclick="plusSlides(1)">&#10095;</a>


 <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
   <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>

</div>

<br>



</section>

<section class="container-fluid">


  <h2>Innovative website designs and application development</h2>

&nbsp;
  
  <div class="row">
  
    <div class="col-sm-6" >


<p> The digital world in which Unified Digital Media operates, has undergone great changes, mainly in the consumption of Information Technology. The IT environment for brands has changed enormously over the past ten years.</p>

&nbsp;
<p>Taken together, these developments open up different and potentially more effective ways of working.</p>
&nbsp;
<p>Three prevalent trends are bringing about this transformation:</p>


<ul class="prevalent_trends"> 


<li> The growing popularity of consumer technology among business users </li> 
<li> The shift of business application and data to cloud.  </li> 
<li> Confluence of social, mobile, analytic and cloud computing creating new ways to develop products and interact with customers.  </li> 

</ul>
&nbsp;

<p>The enduring mission of Unified Digital Media is to create positives attitudes to brands through the provision of good online experiences.</p>




    </div>
  
    <div class="col-sm-6" >


<p>Each project is distinctive, the management process :</p>

<ul class="management_process"> 

<li> Knows who is important and delivers relevant personalised experiences </li>

<li> Pays attention to your customers and piques their interest from the start </li>

<li> Makes it personal and keeps visitors interested and coming back </li>

<li> Becomes accessible across devices and social networks </li>

<li> Builds trust by employing permission based marketing when possible </li>

<li> Interprets quantitative analytics and qualitative visitor's feedback. </li>

<li> Increases online activity by using recommendations </li>

<li> Continuously improves the online experience to convert visitors into loyal customers </li>

</ul>




    </div>
  
  </div>




</section>

<section class="paralax_services container-fluid">

<h1> SERVICES </h1>

</section>

<section class="services_description container-fluid">

 <div class="row">
  
    <div class="col-sm-4" >

<div class="w3-third">
  <div class="w3-card-2 w3-padding-top" >
 
  <i class="fa fa-desktop service_icon" style="font-size:48px;"></i>
   <h4>WEBSITES</h4><br>
  <p>Responsive, eye catching designs that offer multiple touchpoints across web, mobile, and social networks. Designs that pique users interest from the start - increasing online activity and converting clicks to repeat visitors.</p>
  </div>
</div>

    </div>

     <div class="col-sm-4" >

<div class="w3-third">
  <div class="w3-card-2 w3-padding-top" >
 
  <i class="fa fa-windows service_icon" style="font-size:48px;"></i>
   <h4>WEB APPLICATIONS</h4><br>
  <p>Software requirements are turned into workable programming codes for use in your business. Building sustainable competitive advantage and increasing profitability.</p>
  </div>
</div>


    </div>

     <div class="col-sm-4" >

<div >

  <div  >
  
  <i class="fa fa-mobile service_icon" style="font-size:48px;"></i>
  <h4>MOBILE APPLICATIONS</h4><br>
  <p>Your business will not only become a reliable conduit to content but also serve as a platform for mobile commerce and reinforce brand loyalty as internet users re-discover your business installed on their mobile phones.</p>
  </div>
</div>


    </div>

</div>




</section>


<section class="container-fluid">


  <h4>HERE ARE SOME OF OUR CLIENTS WEBSITES</h4>

&nbsp;
  
  <div class="row">
  
    <div class="col-sm-6" > <p> Our clients not only want responsive web designs. Applications, or ‘apps’, can be written for a particular system, such as Windows or Android, or across numerous platforms, including computers and mobile devices. Below are a few examples:</p> 

    	<ul class="web_clients"> 

         <li> <a href="http://81.137.131.58" >JM Transfers  </a> </li> 
        
       <li> <a href="http://kathyaperkins.com" > Kathy A Perkins </a> </li> 

       <li> <a href="http://www.sinopiainn.com" > Sinopia Inn Jamaica </a> </li> 

        <li> <a href="https://clear-booking.herokuapp.com" > Clear Booking</a> </li> 

         <li> <a href="https://travellight.herokuapp.com" > Travel Light </a> </li> 


    </ul>


     </div>

    <div class="col-sm-6" >   


 


 </div>


</div>


    </section>




<section class="paralax_tagline container-fluid">

<h1> UNIFIED DIGITAL MEDIA 
THE BUILDING BLOCKS OF INNOVATION </h1>

</section>

<section class=" container-fluid">

<div class="row">

  <div class="col-sm-4">

  	<div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/women_at_desk.jpg" alt="Woman at desk highlighting reports on her computer screen" class="dedicated_support_image">
    <div class="w3-container">
    <h3>DEDICATED SUPPORT </h3> 

<p>Having created the assets for innovation, Unified Digital Media works with your personnel to successfully migrate the brand online. We're always here to help. So if you have a question, just get in touch and we'll be on hand to assist. As a client you'll get support direct from the web and application developers!</p>
    </div>
    </div>
    </div>


</div>

  <div class="col-sm-4">
    <div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/woman_smiling.jpg" alt="Woman smiling" class="professional_service_image">
    <div class="w3-container">
    <h3>PROFESSIONAL SERVICE </h3> 

<p>As a qualified IT solutions provider, with over 7 years experience of woking with Internet Technologies, Unified Digital Media maintains a customer focus to help increase your market share and improve your profits. Time and effort is taken to truly understand your business in order to tailor our services to your business development needs.</p>
    </div>
    </div>
    </div></div>
  
 
  <div class="col-sm-4"><div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/men_at_desk_touching_ipad.jpg" alt="A man using his IPAD to demonstrate IT fetures to another man while sitting at a desk" class="powerful_features_image">
    <div class="w3-container">
    <h3>POWERFUL FEATURES</h3> 

<p>The list of successful projects we have nurtured continues to grow.We are proud of our track record – read our clients’ testimonials to find out why. Though based in London, we want to work with clients across the UK and internationally, to develop a worldwide network of contacts.</p>
    </div>
    </div>
    </div></div>

</div>


</section>





<section class="paralax_services container-fluid">

<h1> SKILLS </h1>

</section>



<section class="container-fluid" onload="move()">

<div class="row">

  <div class="col-sm-6">  

<ul class="skills">

<li>  

  <div class="myProgress">

  <div class="myBar" id="HTML5" >
    
    <div class="label">HTML5</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="CSS3" >
    
    <div class="label">CSS3</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="JAVASCRIPT" >
    
    <div class="label">JAVASCRIPT</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="JQUERY" >
    
    <div class="label">JQUERY</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="ANGULAR" >
    
    <div class="label">ANGULAR JS</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="BOOTSTRAP" >
    
    <div class="label">BOOTSTRAP</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="NODE" >
    
    <div class="label">NODE JS</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="EXPRESS" >
    
    <div class="label">EXPRESS JS</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="MONGO" >
    
    <div class="label">MONGO DB</div>
  
  </div>

</div>

 </li> 



</ul>






  </div>

  <div class="col-sm-6"> <ul class="skills">

<li>  

  <div class="myProgress">

  <div class="myBar" id="XHTML" >
    
    <div class="label">XHTML</div>
  
  </div>

</div>

 </li> 


<li>  

  <div class="myProgress">

  <div class="myBar" id="XML" > 
    
    <div class="label">XML</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="JSON" >
    
    <div class="label">JSON</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="PHP" >
    
    <div class="label">PHP</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="MYSQL" >
    
    <div class="label">MYSQL</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="RESPONSIVE" >
    
    <div class="label">RESPONSIVE WEB DESIGN</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="DREAMWEAVER" >
    
    <div class="label">DREAMWEAVER</div>
  
  </div>

</div>

 </li> 

 <li>  

  <div class="myProgress" >

  <div class="myBar" id="WORDPRESS" >
    
    <div class="label">WORDPRESS</div>
  
  </div>

</div>

 </li> 

 

 <li>  

  <div class="myProgress">

  <div class="myBar" id="CROSS" >
    
    <div class="label">CROSS PLATFORM WEB DESIGN</div>
  
  </div>

</div>

 </li> 

 

</ul> </div>

</div>


</section>




<section class="paralax_services container-fluid">

<h1> TESTIMONIALS </h1>

</section>


<footer>
<div class="row">

  <div class="col-sm-6">  

  	<h6 class="footer_title"> ABOUT US</h6>

<p >Unified Digital Media London is a IT service provider founded by Machel Slack MSc Bsc (Hons) in 2012. Graduating from Kingston University (UK) in 2008, Machel Slack visited Jamaica, where he successfully implemented an IT system within the University of the West Indies' Department of Educational Studies.</p>

<p>There he was responsible for a group of staff sharing digital technology knowledge with faculty and IT managers to ensure streamlining of students’ cashless transactions, as part of the University’s strategic objective. Having completed his stint within that Department, he was asked to act as a liaison person, carrying out analytical work designing and developing a new system with software vendors. That work resulted in the implementation of an IT system within one of the University's commercial entities.</p>

<p >Later he returned to the UK, where he continued his education with Kingston University (UK). Having completed his Masters programme, he went on to establish Unified Digital Media.</p>

<p>UK MOBILE : +447880900087</p>
<p>EMAIL : <a href="mailto:machel.slack@unifieddigitalmedia.co.uk"> machel.slack@unifieddigitalmedia.co.uk </a> </p>

</div>

  <div class="col-sm-6" ng-app="unifieddigitalmedia" ng-controller="form_controller">  

<h6 class="footer_title"> CONTACT US</h6>


<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" data-ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="text" class="form-control form_field" id="subject" placeholder="Subject" data-ng-model="subject">
    </div>
  </div>

  
<div class="form-group">
   
    <div class="col-sm-12"> 
     <textarea class="form-control" rows="5" id="message" placeholder="Message" data-ng-model="message"></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <button type="button" class="btn btn-default" id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Send</button>
    

    </div>

  </div>

</form>


   </div>

</div>

</footer>

<section class="copywright">

<p>Developed by Unified Digital Media - </p>

	</section>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/scripts/app.js" ></script>

<script src="/scripts/normal.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>


<script type="text/javascript">


var app = angular.module('unifieddigitalmedia', ['ngResource']);


app.factory('Form_Service', ['$resource', function($resource) {


var resource = $resource('http://www.unifieddigitalmedia.co.uk/api/queryLog/:name:email:subject:message',{name:'@name',email:'@email',subject:'@subject',message:'@message'});

return resource;


}]);


app.controller('form_controller', function($scope,Form_Service) {


$scope.contact_form_submission = function () {





var log = Form_Service.save({name:$scope.name,email:$scope.email,subject:$scope.subject,message:$scope.message}, function() {


  
  });


}



});




</script>





</body>

</html>